body {
    
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(https://www.votatuprofesor.com/media/k2/items/cache/af06806ddd1231b8086cf9d0c7570813_M.jpg);
    background-size: 25px 50px;
    background-size: 100% 110%;
}
#boton  {
    background-color: #173268;

}